:root {
    --header-background-color: #f88e95;
    --body-background-color: #ffd1cf;
    --border-and-fill-color: beige;
    --border-radius-and-gap: 10px;
    --font-size: 48px;
    --font-family: Arial, Helvetica, sans-serif;
    --bold: bold;
}

* {
    margin: 0;
    padding:0; 
    border:0;

}

#start,
#player-input-screen,
#player-input-form {
    background-color: var(--body-background-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#start-button,
input {
    width: 300px;
    height: 150px;
    background-color: var(--header-background-color);
    border-radius: calc(var(--border-radius-and-gap) * 10);
    font-size: calc(var(--font-size) / 2);
    font-family: var(--font-family);
    color: var(--border-and-fill-color);
    text-align: center;
}

#load-game {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    background-color: var(--header-background-color);
    color: var(--border-and-fill-color);
    font-size: calc(var(--font-size) / 2);
    border-radius: calc(var(--border-radius-and-gap) * 10);
    width: 150px;
    height: 150px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  #load-game:hover {
    transform: translateY(2px);
    box-shadow: 0 0 rgba(0, 0, 0, 0);
  }
     

#start-button,
#load-game {
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    background-color: var(--body-background-color);
    font-weight: var(--bold);
}

h1 {
    font-size: calc(var(--font-size) * 2);
    color: var(--border-and-fill-color);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
}

#grid-wrapper {
    display: flex;
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 600px) {
    h1 {
        font-size: var(--font-size);
    }
    #grid-wrapper {
        flex-direction: column;
        height: 90vh;
    }
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

#player-one-details,
#player-two-details {
    background-color: var(--header-background-color);
    width: 150px;
    height: 150px;
    font-size: calc(var(--font-size) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--border-and-fill-color);
}

#player-one-details {
    border: 5px solid green;
}

#player-two-details {
    border: 5px solid red;
}

.tile {
    border: 2px solid var(--border-and-fill-color);
    background-color: var(--header-background-color);
    color: var(--border-and-fill-color);
    display: flex;
    flex-grow: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}